.heading{background-color: darkmagenta; color: white;}
.ibo{background-color: red ;color: white; text-align: center;}
.aa{background-color: black;color: white;text-align: center;}
.dd{background-color: yellow;color: white;text-align: ;}
.ee{background-color: green;color: white;text-align: center;}
.tt{background-color: blue;color: white;text-align: center;}
tr,th,td, table{ border: 1px solid gray; border-collapse: collapse;}










